*{
    padding: 0;
    margin: 0;
}
.container{
    

}

header{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 214, 214);

}
main{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    
    

}

#logolink{
    text-decoration: none;
    color: black;
}
.logo{
    text-decoration: none;
}
#headerlinks{
    display : flex;
flex-direction : row;
justify-content : space-between;
gap: 24px;
list-style: none;

}
section{
    padding-top: 24px;
    padding-bottom: 12px;
}
h1,h2{
    padding-bottom: 12px;
}
